:root {
  --site-width: calc(1920px);
}

img {
  display: block;
}

body {
  background-repeat: no-repeat;
  background-size: var(--site-width) auto;
  height: 15120px;
}

body {
  cursor: url(resource/cursor.cur), auto !important;
}

.site-wrap {
  position: relative;
  width: var(--site-width);
  z-index: 0;
}

/* section-1 */
.bn_1_1 {
  position: absolute;
  top: 100px;
  left: 177px;
}