:root {
  --site-width: calc(1920px);
}

img {
  display: block;
}

body {
  background-color: #EEF3FA;
  background-repeat: no-repeat;
  background-size: var(--site-width) auto;
  height: 10670px;
}

.site-wrap {
  position: relative;
  width: var(--site-width);
  z-index: 0;
}

/* section-1 */
.bn_1_1_2 {
  position: absolute;
  top: 171px;
  left: 333px;
}