:root {
  --site-width: calc(1920px);
}

img {
  display: block;
}

body {
  background-color: #EEF3FA;
  background-repeat: no-repeat;
  background-size: var(--site-width) auto;
  height: 10670px;
}

.site-wrap {
  position: relative;
  width: var(--site-width);
  z-index: 0;
}

.bn_1_1_2 {
  position: absolute;
  top: 0;
  left: 333px;
}

.bn_1_2_1 {
  position: absolute;
  top: 1040px;
  left: 285px;
}

.bn_1_2_2 {
  position: absolute;
  top: 2980px;
  left: 285px;
}

.bn_1_3_1 {
  position: absolute;
  top: 3950px;
  left: 400px;
}

.bn_1_3_2 {
  position: absolute;
  top: 4920px;
  left: 333px;
}

.bn_1_3_3 {
  position: absolute;
  top: 6860px;
  left: 333px;
}

.bn_1_4_2 {
  position: absolute;
  top: 8800px;
  left: 400px;
}

.bn_1_4_1 {
  position: absolute;
  top: 9984px;
  left: 300px;
  width: 1319px;
}

.mp4 {
  position: absolute;
  z-index: -1;
}

.mp4_1 {
  width: 586px;
  top: 10005px;
  left: 333px;
}

.mp4_2 {
  width: 586px;
  top: 10005px;
  left: 997px;
}
